*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}
body{
    background: linear-gradient(to right, rgb(104, 110, 237),rgb(29, 29, 189));
}
div{
    background: #fff;
    width: 500px;
    margin: 180px auto;
    padding: 20px;
    border-radius: 10px;
}
p{
    line-height: 1.5em;
}
p:nth-of-type(1){
    background: #03037a;
    width: 400px;
    height: 40px;
    color: #fff;
    text-align: center;
    padding: 9px;
    margin: auto;
    border-radius: 10px;

}
p:nth-of-type(2){
    color: blue;
    font-weight: bold;
}
button:nth-of-type(1){
    display: block;
    background: #03037a;
    width: 150px;
    height: 40px;
    border: none;
    border-radius: 5px;
    margin: 10px auto;
    color:#fff;
    font-size: 0.9em;

}
button:nth-of-type(2){
    display: block;
    background: #03037a;
    width: 150px;
    height: 50px;
    border: none;
    border-radius: 5px;
    margin:  10px auto;
    color:#fff;
    padding: 5px;
    font-size: 0.9em;
}
span{
    background-color: rgb(238, 98, 144);
}